@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply relative py-16 px-12 sm:px-32 xl:px-48 2xl:px-60;
  }
}

.css-13dvntv-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #000000 !important;
}

.MuiButtonBase-root {
  color: #e9e9ea !important;
}

.MuiPaginationItem-ellipsis {
  color: #e9e9ea !important;
}

.swiper-pagination-bullet-active {
  background: #f7bb97 !important;
}
